[package]
name = "panic_unwind"
version = "0.0.0"
license = "MIT OR Apache-2.0"
repository = "https://github.com/rust-lang/rust.git"
description = "Implementation of Rust panics via stack unwinding"
edition = "2021"

[lib]
test = false
bench = false
doc = false

[dependencies]
alloc = { path = "../alloc" }
core = { path = "../core" }
libc = { git = "https://github.com/lewis-revill/libc-cheri.git", branch = "ljr-cheri-0.2.135", default-features = false }
unwind = { path = "../unwind" }
compiler_builtins = { git = "https://github.com/lewis-revill/compiler-builtins-cheri.git", branch = "ljr-cheri-0.1.73" }
cfg-if = "0.1.8"
